<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.robok.mapper.BookMapper">
    <!-- Integer addBook(Book book) -->
    <insert id="addBook">
        insert into t_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                book_id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="bookName != null">
                book_name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="pressId != null">
                press_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="audit != null">
                audit,
            </if>
            <if test="tagId != null">
                tag_id,
            </if>
            <if test="url1 != null">
                url1,
            </if>
            <if test="url2 != null">
                url2,
            </if>
            <if test="url3 != null">
                url3,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="timestamp != null">
                timestamp,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                #{bookId},
            </if>
            <if test="openId != null">
                #{openId},
            </if>
            <if test="bookName != null">
                #{bookName},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="pressId != null">
                #{pressId},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="audit != null">
                #{audit},
            </if>
            <if test="tagId != null">
                #{tagId},
            </if>
            <if test="url1 != null">
                #{url1},
            </if>
            <if test="url2 != null">
                #{url2},
            </if>
            <if test="url3 != null">
                #{url3},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="timestamp != null">
                #{timestamp},
            </if>
        </trim>
    </insert>
    <!-- Integer updateBook(Book book) -->
    <update id="updateBook">
        update t_book
        <set>
            <if test="openId != null">
                open_id = #{openId},
            </if>
            <if test="bookName != null">
                book_name = #{bookName},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="pressId != null">
                press_id = #{pressId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="audit != null">
                audit = #{audit},
            </if>
            <if test="tagId != null">
                tag_id = #{tagId},
            </if>
            <if test="url1 != null">
                url1 = #{url1},
            </if>
            <if test="url2 != null">
                url2 = #{url2},
            </if>
            <if test="url3 != null">
                url3 = #{url3},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="timestamp != null">
                timestamp = #{timestamp}
            </if>
        </set>
        where open_id = #{openId} and timestamp = #{timestamp}
    </update>

    <!--delBook(@Param("bookId") String bookId);-->
    <delete id="delBook">
        delete from t_book where book_id = #{bookId}
    </delete>

    <!--Integer updateBookAudit(@Param("audit")Integer audit,@Param("bookId")String bookId);-->
    <update id="updateBookAudit">
        update t_book set audit = #{audit} where book_id = #{bookId}
    </update>

    <!--List<Book> getSaveBook(@Param("openid")String openid);-->
    <select id="getSaveBook" resultType="com.fall.robok.po.Book">
        select * from t_book where open_id = #{openid} AND audit = 2
    </select>

    <resultMap id="bookAndOrder" type="com.fall.robok.po.Book">
        <id property="bookId" column="book_id"/>
        <result property="openId" column="open_id"/>
        <result property="bookName" column="book_name"/>
        <result property="price" column="price"/>
        <result property="pressId" column="press_id"/>
        <result property="status" column="status"/>
        <result property="audit" column="audit"/>
        <result property="tagId" column="tag_id"/>
        <result property="url1" column="url1"/>
        <result property="url2" column="url2"/>
        <result property="url3" column="url3"/>
        <result property="description" column="description"/>
        <result property="timestamp" column="timestamp"/>
        <association property="order" javaType="com.fall.robok.po.Order">
            <id property="orderId" column="order_id"/>
            <result property="createdTime" column="created_time"/>
            <result property="buyerId" column="buyer_id"/>
            <result property="sellerId" column="seller_id"/>
            <result property="audit" column="audit"/>
        </association>
    </resultMap>
    <!--Integer saveBook(@Param("bookId") String bookId);-->
    <update id="saveBook">
        update t_book left join t_order on t_book.book_id = t_order.book_id set t_book.audit = 3,t_order.audit = 1 where t_book.book_id = #{bookId}
    </update>

    <!--List<Integer> getNotPress();-->
    <select id="getNotPress" resultType="java.lang.Integer">
        select press_id from t_press where press_name = 'Robok'
    </select>

    <!--Integer savePress(String bookId,Integer pressId);-->
    <update id="savePress">
        update t_press set press_name = #{bookId} where press_id = #{pressId}
    </update>

    <!--Integer updateBookOfPress(String bookId,Integer pressId);-->
    <update id="updateBookOfPress">
        update t_book set press_id = #{pressId} where book_id = #{bookId}
    </update>

    <!--Integer pickPress(@Param("bookId") String bookId);-->
    <update id="pickPress">
        update t_press set press_name = 'Robok' where press_name = #{bookId}
    </update>

    <!--Integer getPressId(@Param("bookId") String bookId);-->
    <select id="getPressId" resultType="java.lang.Integer">
        select press_id from t_press where press_name = #{bookId}
    </select>

</mapper>