<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.robok.mapper.MallMapper">

    <!--List<MallSwiper> getMallSwiper();-->
    <select id="getMallSwiper" resultType="com.fall.robok.po.MallSwiper">
        select * from t_mall_swiper
    </select>

    <!--List<Book> getGoods();-->
    <select id="getGoods" resultType="com.fall.robok.po.Book">
        select * from t_book
    </select>

</mapper>