<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.robok.mapper.OrderMapper">


    <resultMap id="orderResultMap" type="com.fall.robok.model.Order">
        <id property="orderId" column="order_id"></id>
        <result property="createdTime" column="created_time"></result>
        <result property="buyerId" column="buyer_id"></result>
        <result property="sellerId" column="seller_id"></result>
        <association property="book" javaType="com.fall.robok.model.Book">
            <id property="bookId" column="book_id"></id>
            <result property="openId" column="open_id"></result>
            <result property="bookName" column="book_name"></result>
            <result property="price" column="price"></result>
            <result property="pressId" column="press_id"></result>
            <result property="status" column="status"></result>
            <result property="audit" column="audit"></result>
            <result property="url1" column="url1"></result>
            <result property="url2" column="url2"></result>
            <result property="url3" column="url3"></result>
            <result property="description" column="description"></result>
            <result property="timestamp" column="timestamp"></result>
        </association>
    </resultMap>
    <!--List<Order> getOrder(@Param("openid") String openid);-->
    <select id="getOrder" resultMap="orderResultMap">
        select * from t_order left join t_book on t_order.book_id = t_book.book_id where t_order.buyer_id = #{openid}
    </select>


</mapper>
