<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.robok.mapper.UserMapper">
    <!-- public User getAllUser(); -->
    <select id="getAllUser" resultType="com.fall.robok.model.User">
        select * from t_user
    </select>
    <!-- Integer userSignUp(@Param("openId") String openId, @Param("nickName") String nickName, @Param("createdTime") String createdTime) -->
    <insert id="userSignUp">
        insert into t_user (open_id, nick_name, created_time, phone, email)
        values (#{openId}, #{nickName}, #{createdTime}, null, null)
    </insert>
    <!-- Integer userIsExist(@Param("openId") String openId) -->
    <select id="userIsExist" resultType="int">
        select 1
        from t_user
        where open_id = #{openId}
    </select>
</mapper>