<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.adminserver.mapper.BookManagerMapper">

    <!-- List<Book> getBookList(); -->
    <!-- TODO: 根据地区改变查询范围 -->
    <select id="getBookList" resultType="com.fall.adminserver.model.Book">
        select * from t_book
        <if test="bookName != null">
            where book_name like #{bookName}
        </if>
        <if test="orderProp == 'price' or orderProp == 'timestamp'">
            order by ${orderProp}
        </if>
        <if test="order == 'asc' or order == 'desc'">
            ${order}
        </if>
    </select>

    <!--Integer passAudit(@Param("bookId") String bookId);-->
    <update id="passAudit">
        update t_book set audit = 1 where book_id = #{bookId}
    </update>

    <!--Integer noPassAudit(@Param("bookId") String bookId);-->
    <update id="noPassAudit">
        update t_book set audit = 9 where book_id = #{bookId}
    </update>

    <!--Integer recycleAudit(@Param("bookId") String bookId);-->
    <update id="recycleAudit">
        update t_book set audit = 0 where book_id = #{bookId}
    </update>
</mapper>