<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fall.adminserver.mapper.SysAdminManagerMapper">

    <!-- int register(SysUser sysUser); -->
    <insert id="register">
        insert into `t_admin`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="authority != null">
                `authority`,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="authority != null">
                #{authority},
            </if>
        </trim>
    </insert>

    <!--List<SysUser> getAdmin(String name);-->
    <select id="getAdmin" resultType="com.fall.adminserver.model.SysUser">
        select * from t_admin
        <if test="name != null">
            where name like #{name}
        </if>
    </select>

    <!--Integer updateServiceAdmin(SysUser sysUser);-->
    <update id="updateServiceAdmin">
        update t_admin set name = #{name},password = #{password} where id = #{id}
    </update>

    <!--Integer delServiceAdmin(String id);-->
    <delete id="delServiceAdmin">
        delete from t_admin where id = #{id}
    </delete>

</mapper>